<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="page-list">
          <li><strong>{{ site.title }}</strong></li>
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><strong>Connect</strong></li>

          <li><a href="https://www.facebook.com/groups/156355068208194/?fref=ts">Facebook</a></li>

          <li><a href="https://github.com/UDPT-2017/seminar-reactnative-1412140-1412270">GitHub</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
